doctype html
html
	head
	body
		ul
			li
				a(href='./index.html', target='_blank') Главная
				a(href='./catalog-list.html', target='_blank') Каталог списком
				a(href='./catalog.html', target='_blank') Каталог плиткой
				a(href='./kartocha-tovara.html', target='_blank') Карточка товара
				a(href='./korzina.html', target='_blank') Корзина
				a(href='./oformlenie-zakaza.html', target='_blank') Оформление заказа
				a(href='./oformlenie-zakaza-spasibo.html', target='_blank') Оформление заказа (Спасибо)
