extends index

block title
	title YupeStore - Каталог товаров

block slider

block content
	.container.content.catalog
		+breadcrumbs
		.row
			.col-lg-12
				h2.page-header Мобильные телефоны
		.row
			.col-lg-3
				.filter
					//- .price
					//- 	input(type='range', min="0" max="180" step="20" value="0,10", multiple)
					form
						+filter-dropdown("type1", "Производитель")
						+filter-dropdown("type2", "Тип")
						+filter-dropdown("type3", "Платформа")
						+one-checkbox()
						input(type='submit', value='Применить')
			.col-lg-9
				.row.sort 
					.col-lg-12 Сортировать :
						a(href="").active по популярности
						a(href="") по цене
						a(href="") по новизне
						.switcher
							include ./assets/images/icon-list-catalog.svg
							include ./assets/images/icon-plitka-catalog.svg
				.row.novinki
					+one-4-product('12 990 руб.', 'Смартфон Sony Xperia V (LT25i Black)')
					+one-4-product('12 990 руб.', 'Смартфон Samsung Galaxy Alpha (SM-G850F 32Gb)')
					+one-4-product('206 руб.', 'Карта памяти Transcend TS*USDHC10')
	include layouts/you-seen
	include layouts/brand-list
	include layouts/footer