doctype html
html
  head
    title YupeStore
    meta(charset='utf-8')
    link(rel='stylesheet', href='assets/fonts/osans/osans.css')
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/main.css')
    script(type='text/javascript', src='assets/js/jquery.min.js')
    script(type='text/javascript', src='assets/js/bootstrap.min.js')
    script(type='text/javascript', src='assets/js/app.js')
  body
  include layouts/header-menu.jade
  .container.main
    include layouts/sub-header
    block slider
      include layouts/slider-banners
  block content
    .container.content
      .row.novinki
        .col-md-12: h3 Новинки
        mixin one-product(price, name)
          .col-md-3.col-lg-3.col-sm-6.col-xs-6
            .one-product
              //- if new
              //-   .feature-label.new NEW
              //- else 
              .feature-label.hit ХИТ
              .image.carousel.slide(data-ride="carousel", id='carousel-main-page-tovar-1')
                .carousel-inner(role='listbox')
                  .item.active
                    img(src='assets/images/tovar1.png')
                  .item
                    img(src='assets/images/tovar2.png')
                  .item
                    img(src='assets/images/tovar3.png')
                  .item
                    img(src='assets/images/tovar4.png')
                a.left.carousel-control(href="#carousel-main-page-tovar-1" role="button" data-slide="prev")
                  span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                  span.sr-only Previous
                a.right.carousel-control(href="#carousel-main-page-tovar-1" role="button" data-slide="next")
                  span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                  span.sr-only Next
              .description 
                a(href='#')= name
                span.price= price
                span.wasprice 15 990 руб.
              include layouts/additional_block
        +one-product('12 990', 'Смартфон Sony Xperia V (LT25i Black)')
        +one-product('12 990', 'Смартфон Samsung Galaxy Alpha (SM-G850F 32Gb)')
        +one-product('206', 'Карта памяти Transcend TS*USDHC10')
        +one-product('27 450', 'Робот-пылесос iClebo Arte')
      .row.novinki
        .col-md-12 
          h3 Хиты
        +one-product('127 990', 'LED телевизор Samsung UE40H6200')
        +one-product('127 990', 'Смартфон Sony Xperia V (LT25i Black)')
        +one-product('127 990', 'Смартфон Sony Xperia V (LT25i Black)')
        +one-product('127 990', 'Смартфон Sony Xperia V (LT25i Black)')
    .container-fluid.white-container
      .container
        .row
          .col-lg-12
            h3 Вы недавно смотрели
        .row.you-seen
          mixin you-seen-one
            .col-lg-4.col-xs-12
              img(src='assets/images/youseen.jpg', align='left')
              a(href='#') Samsung Galaxy A3
              br
              span.price 19 990 руб
          +you-seen-one
          +you-seen-one
          +you-seen-one
    include layouts/brand-list
    include layouts/footer