extends index

block slider

block content
	.container.content.cart
		include layouts/breadcrumbs
		.row
			.col-lg-12
				h2.page-header Корзина
		.row.section.product-list
			.col-lg-12.section-header-dark
				.row
					.col-lg-2.col-md-2.col-sm-2.col-xs-12
					.col-lg-4.col-md-4.col-sm-4.col-xs-12 Наименование
					.col-lg-2.col-md-2.col-sm-2.col-xs-12 Цена (руб)
					.col-lg-2.col-md-2.col-sm-2.col-xs-12 Количество
					.col-lg-2.col-md-2.col-sm-2.col-xs-12 Сумма, руб.
			.col-lg-12
				mixin product-line()
					.row.product-line
						.col-lg-2.col-md-2.col-sm-2.col-xs-12
							input.styled-checkbox(type='checkbox', name='', id='custom-ch')
							label.customcheck(for="custom-ch")
							img(src='./assets/images/oformlenie-zakaza-spasibo.jpg')
						.col-lg-4.col-md-4.col-sm-4.col-xs-12
							div Мобильный телефон 
								a(href='#') Sony Xperia V (LT25i Black)
						.col-lg-2.col-md-2.col-sm-2.col-xs-12 12 990
						.col-lg-2.col-md-2.col-sm-2.col-xs-12.amount
							span -
							input(type='text', value='1')
							span +
						.col-lg-2.col-md-2.col-sm-2.col-xs-12 25 980
							include ./assets/images/korzina-remove-one.svg
				+product-line()
				+product-line()
				+product-line()
		.row.section.coupon
			.col-lg-12.yellow-container
				span Купон на скидку:
				input(type='text') 
				button(type="submit" class="btn btn-default") Проверить купон
		.row.section.quick-order-form
			.col-lg-12
				h3 Быстрый заказ:
			.col-lg-12.col-with-border
				.row
					.col-lg-4
						input.form-control(placeholder='Ваше имя')
					.col-lg-4
						input.form-control(placeholder='Ваш e-mail')
					.col-lg-4
						input.form-control(placeholder='Ваш телефон')
					.col-lg-4.col-lg-offset-4
						button.quick-order(type="button" class="btn btn-default navbar-btn" style='float: right')  Оформить быстрый заказ
			.col-lg-12
				p.summ-itog Всего выбрано: 1 товар на сумму 
					span 25 980 
					| рублей
				button.order-submit(type="button" class="btn btn-default navbar-btn" style='float: right')  Оформить заказ
	include layouts/footer