extends index

block slider

block content
	.container.content.order-confirmation
		include layouts/breadcrumbs
		.row
			.col-lg-12
				h2.page-header Спасибо за ваш заказ!
				h3.page-sub-header Он будет обработан в ближайшее время.
		.row.section.vash-zakaz
			.col-lg-12.order-count.section-header-dark Номер вашего заказа: 
				span 23546
			.col-lg-12
				ul.list-unstyled
					li Ожидаемая дата доставки: 
						span Завтра
					li Адрес доставки: 
						span ул. Ленина, д.10, кв.67
					li Получатель: 
						span Колыванова Ирина Сергеевна

				ul.list-unstyled
					li E-mail: 
						span mail@mail.ru
					li Телефон: 
						span +7 (495) 123-45-67

				ul.list-unstyled
					li Доставка: 
						span Доставка по Москве
					li Способ оплаты: 
						span Наличный расчет при получении
		.row
			.col-lg-12
				h3.page-header Данные вашего заказа
		.row.section.product-list
			.col-lg-12.section-header-dark
				.row
					.col-lg-2.col-md-2.col-sm-2.col-xs-12
					.col-lg-4.col-md-4.col-sm-4.col-xs-12 Наименование
					.col-lg-2.col-md-2.col-sm-2.col-xs-12 Цена (руб)
					.col-lg-2.col-md-2.col-sm-2.col-xs-12 Количество
					.col-lg-2.col-md-2.col-sm-2.col-xs-12 Сумма, руб.
			.col-lg-12
				mixin product-line
					.row.product-line
						.col-lg-2.col-md-2.col-sm-2.col-xs-12
							img(src='./assets/images/oformlenie-zakaza-spasibo.jpg')
						.col-lg-4.col-md-4.col-sm-4.col-xs-12
							div Мобильный телефон 
								a(href='#') Sony Xperia V (LT25i Black)
						.col-lg-2.col-md-2.col-sm-2.col-xs-12 12 990
						.col-lg-2.col-md-2.col-sm-2.col-xs-12 2
						.col-lg-2.col-md-2.col-sm-2.col-xs-12 25 980
				+product-line
				+product-line
			.col-lg-12.itogi
				.row.section
					p Товаров на сумму: 25 980 рублей
					p Доставка: 300 рублей
					p.all-itog Итого: 
						span 26 280 
						| рублей 
	include layouts/footer