extends index

block slider

block content
	.container.content.order-confirmation
		.row.breadcrumbs
			.col-lg-12
				a(href='#') Главная
				a(href='#') Корзина
		.row
			.col-lg-12
				h2.page-header Спасибо за ваш заказ!
				h3.page-sub-header Он будет обработан в ближайшее время.
		.row.section
			.col-lg-12.order-count.section-header-dark
				h2 Номер вашего заказа: 23546
			.col-lg-12
				ul.list-unstyled
					li Ожидаемая дата доставки: 
						span Завтра
					li Адрес доставки: 
						span ул. Ленина, д.10, кв.67
					li Получатель: 
						span Колыванова Ирина Сергеевна

				ul.list-unstyled
					li E-mail: 
						span mail@mail.ru
					li Телефон: 
						span +7 (495) 123-45-67

				ul.list-unstyled
					li Доставка: 
						span Доставка по Москве
					li Способ оплаты: 
						span Наличный расчет при получении
		.row.section
			.col-lg-12
				h3.page-sub-header Он будет обработан в ближайшее время.
		.row.section
			.col-lg-12.section-header-dark
				h2 Данные вашего заказа
			.col-lg-12
				.row
					.col-lg-3
					.col-lg-3 Мобильный телефон Sony Xperia V (LT25i Black)
					.col-lg-3 12 990
					.col-lg-3 2
					.col-lg-3 25 980
		.row.section
			p Товаров на сумму: 25 980 рублей
			p Доставка: 300 рублей
			p Итого: 26 280 рублей 
	include layouts/footer