.container.content.catalog
	
	.filter
		background white
		border 2px solid #d2d2d2
		padding 20px
		
		.collapse-block
			border-bottom 1px solid #ededed
			padding 22px 0px 22px
			position relative
			
			// &:first-child
				// border-top 1px solid #ededed
				
			a
				color dark-black-color
				text-decoration none
				font-size: 15px;
				font-family light-font
				font-weight 400
				
				> svg
					transform rotateX(180deg)
					transform-origin 50% 30%
					
				&:not(.collapsed) > svg
					transform rotateX(0deg)
					vertical-align middle
					// transition all 0.3s 
									
			> .collapse, .collapsing
				margin-top 20px
			
		input[type='submit']
			color dark-black-color
			border 1px solid light-blue-color
			font-family light-font
			background white
			text-align center
			display block
			margin 0px auto
			font-size: 13px;
			padding 10px 50px
			margin-top 20px
		
		.w50
			width: 48%;
			display: inline-block;
			position relative
			margin-bottom 10px
			

			
	// Строка с выбором сортировки
	.sort
		margin-bottom 20px
		
		a
			margin-left 20px
			
			&.active
				font-family bold-font	
				color black
				text-decoration none
				
		.switcher
			display: inline-block;
			float: right;