// Оформление для устройств с разрешением меньше 992px. Что в Bootstrap значит Medium devices Desktops.

@media screen and (max-width: 992px)
	.row.menu-and-search
		// margin 0px
		
		> .menu-main
			padding-right 15px
			
		> .search-field
			padding-left 15px
			
	.row.header
		text-align center
		
		> .logo
			text-align center
			
		> .phone-and-cart
			text-align center