// Оформление для устройств с разрешением меньше 992px. Что в Bootstrap значит Medium devices Desktops.

@media screen and (max-width: 992px)
	.row.menu-and-search
		// margin 0px
		
		> .menu-main
			padding-right 15px
			
		> .search-field
			padding-left 15px
			
	.row.header
		text-align center
		
		> .logo
			text-align center
			
		> .phone-and-cart
			text-align center
			
@media (max-width: 1148px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}