.row.section.vash-zakaz
	padding 0px
		
	.section-header-dark
		margin 0px
		color: #fefefe;
		font-size: 16px;
		font-family light-font
		line-height 51px
		background dark-black-color
		
		span 
			font-family bold-font
			
	> div:nth-of-type(2)
		padding 55px 15px 40px 30px
		font-size: 16px;
		
		> ul:last-child
			margin-bottom 0px
		
		> ul
			margin-bottom 40px
			
			> li 
				font-family light-font
				
				> span 
					font-family normal-font
					
.row.section.product-list
	padding 0px
		
	.section-header-dark
		margin 0px
		color: #fefefe;
		font-size: 16px;
		font-family light-font
		line-height 51px
		background dark-black-color
		
		span 
			font-family bold-font
			
	> div > .row.product-line
		height 176px
		
		> div:first-child
			text-align center
			line-height 176px
			
			> label
				position absolute
				left 10px
			
		> div:last-child > svg
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -6px;
    
		> div:nth-of-type(2)
			text-align left
			color: #b0b3b7;
			line-height 150px
			
			> div
				display inline-block
				vertical-align middle
				line-height 24px
				font-size: 15px;

				> a
					display block
					text-align left
					color light-blue-color
					text-decoration underline
				
		> div
			line-height 150px
			color: #2e2e2e;
			font-size: 18px;
			
		div.amount > input
			border 0px
			outline none
			// display inline
			text-align center
			// height 20px
			width 70px
.itogi
	border-top 1px solid #f4f4f4
	
	.row 
		margin 20px 100px 20px
		
		p
			color: #2e2e2e;
			font-size: 18px;
			margin-bottom 15px
			text-align right
		
	> .row p.all-itog
		font-size: 30px;
		
		span 
			color light-blue-color