body {
  font-family: "OpenSansRegular";
  background-color: #f4f4f4;
  color: #2e2e2e;
}
.grey {
  color: #b8b8b8;
}
.light-grey {
  color: #b0b0b0;
}
.col-with-border {
  border-bottom: 1px solid #f4f4f4;
}
.without-bottom-margin {
  margin: 0px;
}
/* ----- Шрифты ----- */
.light-blue {
  background-color: #22b5cd;
}
.text-uppercase {
  text-transform: uppercase;
}
.badge {
  font-size: 11px;
  vertical-align: middle;
}
.navbar-collapse {
  padding: 0px;
}
.white-container {
  background: #fff;
  padding: 45px 0px;
}
.container.content {
  padding-bottom: 112px;
/* 
		----- Начало разметки для страницы "ОФОРМЛЕНИЕ ЗАКАЗА - СПАСИБО"
	*/
/* 
		----- Завершение разметки для страницы "ОФОРМЛЕНИЕ ЗАКАЗА - СПАСИБО"
	*/
}
.container.content .page-header {
  border-bottom: 0px;
  margin: 10px 0px 20px;
  font-family: "OpenSansLightRegular";
  font-size: 26px;
}
.container.content .page-sub-header {
  border-bottom: 0px;
  margin: -20px 0px 20px;
  font-family: "OpenSansRegular";
  font-size: 18px;
}
.container.content .row.section.kartochka-tovara {
  padding: 40px 15px 15px 15px;
  margin: 0px;
}
.container.content .row.section.kartochka-tovara #main-image {
  width: 390px;
  height: 390px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.container.content .row.section.kartochka-tovara .image-list {
  width: 70px;
  display: inline-block;
}
.container.content .row.section.kartochka-tovara .image-list > div {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.container.content .row.section.kartochka-tovara .image-list > div.active {
  border: 2px solid #22b5cd;
}
.container.content .row.section.kartochka-tovara .row.variants > .line {
  border-bottom: 1px solid #b0b0b0;
}
.container.content .row.section.kartochka-tovara .row.variants > div:first-child {
  font-family: "OpenSansBold";
  color: #2e2e2e;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 40px;
}
.container.content .row.section.kartochka-tovara .row.variants > div {
  color: #2e2e2e;
  font-size: 15px;
  margin-bottom: 40px;
  line-height: 34px;
}
.container.content .row.section.kartochka-tovara .row.variants > div > select {
  display: block;
  border-radius: initial;
  border: none;
  outline: none;
  color: #2e2e2e;
  font-size: 13px;
  padding: 0px 10px;
}
.container.content .row.section.kartochka-tovara .row.variants > div > .price {
  font-size: 30px;
  font-family: "OpenSansRegular";
  font-weight: lighter;
}
.container.content .row.section.kartochka-tovara .row.variants > div > .price > span {
  font-family: "OpenSansBold";
}
.container.content .row.section.kartochka-tovara .additional_block > .rate {
  padding: 0px 10px;
  line-height: 40px;
  float: left;
}
.container.content .row.section.kartochka-tovara .additional_block > .rate > .num {
  background: url("../images/rateback.png") no-repeat left center;
  line-height: 40px;
  display: block;
  width: 44px;
  padding-left: 8px;
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
.container.content .row.section.kartochka-tovara .additional_block > .rate > .est {
  float: right;
}
.container.content .row.section.kartochka-tovara .additional_block > .icons {
  padding: 0px 10px;
  margin-bottom: 10px;
  float: right;
}
.container.content .row.section.kartochka-tovara .additional_block > .icons > * {
  margin-right: 5px;
  border: 1px solid #cbcbcb;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
.container.content .row.section.kartochka-tovara-features {
  background: #ededed;
  margin-bottom: 0px;
}
.container.content .row.section.kartochka-tovara-features > div > img {
  display: inline-block;
  vertical-align: top;
}
.container.content .row.section.kartochka-tovara-features > div > div {
  display: inline-block;
  margin-left: 20px;
}
.container.content .row.section.kartochka-tovara-features > div > div > span {
  font-family: "OpenSansBold";
}
.container.content .row.section.kartochka-tovara-features > div > div > ul > li {
  margin-bottom: 10px;
}
.container.content .row.section > .tab-content .harakteristiki li {
  display: block;
  background: url("../images/dots-background.jpg") repeat-x bottom left;
}
.container.content .row.section.cart-list .row.one-line > div:first-child {
  text-align: left;
  font-size: 18px;
  line-height: 48px;
}
.container.content .row.section.cart-list .row.one-line > div {
  line-height: 48px;
}
.container.content .row.section.cart-list .row.one-line > div:last-child {
  text-align: right;
}
/* 
		----- Начало разметки для страницы "ОФОРМЛЕНИЕ ЗАКАЗА - СПАСИБО"
	*/
.container.content .row.section.vash-zakaz {
  padding: 0px;
}
.container.content .row.section.vash-zakaz .section-header-dark {
  margin: 0px;
  color: #fefefe;
  font-size: 16px;
  font-family: "OpenSansLightRegular";
  line-height: 51px;
  background: #2e2e2e;
}
.container.content .row.section.vash-zakaz .section-header-dark span {
  font-family: "OpenSansBold";
}
.container.content .row.section.vash-zakaz > div:nth-of-type(2) {
  padding: 55px 15px 40px 15px;
  font-size: 16px;
}
.container.content .row.section.vash-zakaz > div:nth-of-type(2) > ul:last-child {
  margin-bottom: 0px;
}
.container.content .row.section.vash-zakaz > div:nth-of-type(2) > ul {
  margin-bottom: 40px;
}
.container.content .row.section.vash-zakaz > div:nth-of-type(2) > ul > li {
  font-family: "OpenSansLightRegular";
}
.container.content .row.section.vash-zakaz > div:nth-of-type(2) > ul > li > span {
  font-family: "OpenSansRegular";
}
.container.content .row.section.product-list {
  padding: 0px;
}
.container.content .row.section.product-list .section-header-dark {
  margin: 0px;
  color: #fefefe;
  font-size: 16px;
  font-family: "OpenSansLightRegular";
  line-height: 51px;
  background: #2e2e2e;
}
.container.content .row.section.product-list .section-header-dark span {
  font-family: "OpenSansBold";
}
.container.content .row.section.product-list > div > .row.product-line {
  height: 176px;
}
.container.content .row.section.product-list > div > .row.product-line > div:first-child {
  text-align: center;
  line-height: 176px;
}
.container.content .row.section.product-list > div > .row.product-line > div:nth-of-type(2) {
  text-align: left;
  color: #b0b3b7;
  line-height: 150px;
}
.container.content .row.section.product-list > div > .row.product-line > div:nth-of-type(2) > div {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  font-size: 15px;
}
.container.content .row.section.product-list > div > .row.product-line > div:nth-of-type(2) > div > a {
  display: block;
  text-align: left;
  color: #22b5cd;
  text-decoration: underline;
}
.container.content .row.section.product-list > div > .row.product-line > div {
  line-height: 150px;
  color: #2e2e2e;
  font-size: 18px;
}
.container.content .itogi {
  border-top: 1px solid #f4f4f4;
}
.container.content .itogi .row {
  margin: 20px 100px 20px;
}
.container.content .itogi .row p {
  color: #2e2e2e;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: right;
}
.container.content .itogi > .row p.all-itog {
  font-size: 30px;
}
.container.content .itogi > .row p.all-itog span {
  color: #22b5cd;
}
/* 
		----- Завершение разметки для страницы "ОФОРМЛЕНИЕ ЗАКАЗА - СПАСИБО"
	*/
.container.content .row.pokupatel .row.one-line {
  height: 70px;
  margin-bottom: 20px;
}
.container.content .row.pokupatel .row.one-line > div:first-child {
  color: #2e2e2e;
  font-size: 16px;
  height: 100%;
  line-height: 70px;
}
.container.content .row.pokupatel .row.one-line > div:nth-of-type(3) {
  padding-left: 20px;
  color: #2e2e2e;
  line-height: 34px;
}
.container.content .row.pokupatel .row.one-line > div {
  vertical-align: bottom;
}
.container.content .row.pokupatel .row.one-line > div input {
  background-color: #fff;
  border: 1px solid #d2d2d2;
  width: 364px;
  outline: none;
  padding: 5px 40px 5px 20px;
  color: #2e2e2e;
}
.container.content .row.pokupatel .row.one-line > div input.correct {
  border: 1px solid #93cd22;
  box-shadow: 0 0 5px #b6dd6b;
  background: url("../images/icon-correct.png") #ecf7d8 no-repeat 324px center;
}
.container.content .row.pokupatel .row.one-line > div input.incorrect {
  background: url("../images/icon-incorrect.png") #fce4df no-repeat 324px center;
  border: 1px solid #e35b40;
  box-shadow: 0 0 5px #eaa79a;
}
.container.content .row.pokupatel .row.one-line > div:nth-of-type(2) > label {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 5px;
  display: block;
}
.container.content .row.dostavka input {
  margin-right: 20px;
}
.container.content .row.dostavka .form-group {
  margin-bottom: 20px;
}
.container.content .row.dostavka .form-group > .checkbox > label {
  font-family: "OpenSansBold";
  color: #2e2e2e;
  font-size: 18px;
}
.container.content .row.dostavka .form-group > .checkbox > span {
  font-family: "OpenSansRegular";
  color: #747474;
  font-size: 14px;
  margin-left: 53px;
  display: inline-block;
}
.container.content .row.dostavka .adres h3 {
  font-size: 16px;
  font-family: "OpenSansBold";
  margin-top: 7px;
}
.container.content .row.dostavka .adres .form-control {
  border-radius: 0px;
  border: 1px solid #b0b3b7;
}
.container.content .row.dostavka .adres > .row > div:not(:last-child) {
  margin-bottom: 20px;
}
.container.content .row.dostavka select {
  border: none;
  background-color: #fff;
  padding-right: 10px;
  color: #22b5cd;
}
.container.content .row.section.oplata {
  margin-bottom: 0px;
}
.container.content .row.section.oplata .form-group label {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: "OpenSansBold";
}
.container.content .row.section.oplata .form-group input {
  margin-right: 20px;
}
.container.content .row.section.coupon {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
  padding: 45px 0px;
  background: #eeec51;
}
.container.content .row.section.coupon span {
  color: #2e2e2e;
  font-size: 26px;
  margin-right: 20px;
}
.container.content .row.section.coupon input {
  width: 223px;
  height: 40px;
  border: 1px solid #d2d2d2;
  margin-right: 20px;
  font-size: 14px;
  font-family: "OpenSansBold";
  padding-left: 10px;
  text-transform: uppercase;
}
.container.content .row.section.coupon button {
  background: #22b5cd;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-family: "OpenSansRegular";
}
.container.content .row.section.itog {
  margin-top: 0px;
}
.container.content .row.section.itog > div {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container.content .row.section.itog p.summ-itog,
.container.content .row.section.itog p.dostavka-itog {
  color: #2e2e2e;
  font-size: 18px;
  font-family: "OpenSansBold";
  margin-bottom: 20px;
}
.container.content .row.section.itog p.all-itog {
  font-size: 30px;
  font-family: "OpenSansBold";
  margin-bottom: 30px;
}
.container.content .row.section.itog p.all-itog span {
  color: #22b5cd;
}
.container.content .row.section.itog button {
  background: #22b5cd;
  width: 266px;
  height: 56px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
/* 
------ Оформление блоков которые присутствуют на всех страницах.
------ Блоки: "Навигационная панель", "Логотип и корзина", "Поиск и основное меню каталога", "Список брендов", 
"Подвал", "Вы просмотрели товары", "Хлебные крошки"
*/
/* 
	Навигационная панель в шапке.
*/
.navbar {
  background: #2e2e2e;
  border-radius: 0px;
  text-transform: uppercase;
  border: none;
}
.navbar .navbar-nav > li {
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  line-height: 49px;
}
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li a:visited {
  color: #fff;
  position: relative;
  padding-left: 30px;
  vertical-align: middle;
  font-family: "OpenSansLightRegular";
}
.navbar .navbar-nav > li > a > .badge,
.navbar .navbar-nav > li a:visited > .badge {
  margin-left: 10px;
  padding: 6px 10px;
  display: inline-block;
  vertical-align: top;
}
.navbar .navbar-nav > li > a:hover {
  background-color: #2e2e2e;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li a:active {
  color: #22b5cd;
  background: none;
}
.navbar .navbar-nav > li > a:after {
  content: " | ";
  position: absolute;
  top: 14px;
  right: -7px;
  color: #4f4f4f;
}
.navbar .navbar-nav > li:last-child > a:after {
  display: none;
}
.navbar .navbar-nav > li.active a {
  background: initial;
  color: #22b5cd;
}
/* 
	Завершение блока с оформлением для навигационной панели.
*/
/*
------ Блок вложенный в navbar, содержит элементы - вход, сравнение товаров, товары в избранном.
*/
.navbar-right {
  font-size: 13px;
  text-transform: initial;
  margin-right: 0px;
  font-family: "OpenSansLightRegular";
}
.navbar-right a:after {
  content: "";
  display: none;
}
.navbar-right .favicon a {
  background: url("../images/icon-heart.png");
  background-position: left center;
  background-repeat: no-repeat;
}
.navbar-right .compare a {
  background: url("../images/icon-compare.png");
  background-position: left center;
  background-repeat: no-repeat;
}
.navbar-right button.login {
  width: 97px;
  height: 35px;
  border: 1px solid #22b5cd;
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
  line-height: 32px;
  padding-left: 10px !important;
  background: url("../images/icon-login.png") no-repeat 10px center;
  color: #fff;
  outline: none;
}
.navbar-right button.login:hover {
  transition: all 0.33s;
  background: url("../images/icon-login.png") no-repeat 10px center #22b5cd;
}
.navbar-right .favicon img,
.navbar-right .compare img,
.navbar-right .login img {
  margin-right: 10px;
}
.header {
  margin-bottom: 40px;
}
.header > .logo {
  line-height: 78px;
  color: #b8b8b8;
  font-family: "OpenSansLightRegular";
}
.header > .logo > img {
  margin-right: 30px;
}
.header .phone-and-cart {
  text-align: right;
}
.header .phone-and-cart > .phone {
  display: inline-block;
  color: #2e2e2e;
  font-size: 18px;
  font-family: "OpenSansBold";
  height: 78px;
  text-align: center;
  margin-right: 40px;
  line-height: 20px;
  padding-top: 25px;
}
.header .phone-and-cart > .phone > a {
  color: #22b5cd;
  font-size: 13px;
  font-family: "OpenSansLightRegular";
  border-bottom: 1px dashed #22b5cd;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.header .phone-and-cart > .phone > ahover {
  border-bottom: 1px solid #22b5cd;
}
.header .phone-and-cart > .cart-header-block {
  display: inline-block;
  position: relative;
  padding-top: 19px;
  text-align: left;
}
.header .phone-and-cart > .cart-header-block > img {
  margin-right: 20px;
  margin-top: 6px;
}
.header .phone-and-cart > .cart-header-block > .cart-header {
  color: #2e2e2e;
  font-size: 16px;
  font-family: "OpenSansBold";
}
.header .phone-and-cart > .cart-header-block > .badge {
  position: absolute;
  left: 30px;
  top: 20px;
}
.header .phone-and-cart > .cart-header-block > .summ {
  color: #959595;
  font-family: "OpenSansLightRegular";
}
.header .phone-and-cart > .cart-header-block > .summ > span {
  color: #555;
  font-family: "OpenSansRegular";
}
.header .phone-and-cart > .cart-header-block > a > img {
  margin-left: 10px;
}
.header .phone-and-cart > .cart-header-block > .cart-block {
  position: absolute;
  background: #fff;
  z-index: 2000;
  padding: 20px;
  box-shadow: 1px 1px 4px #b0b0b0;
  width: 300px;
  right: 0px;
  top: 52px;
  text-align: center;
}
.header .phone-and-cart > .cart-header-block > .cart-block > .line {
  display: block;
  border-bottom: 1px solid #808080;
  padding: 10px 0px;
  text-align: left;
}
.header .phone-and-cart > .cart-header-block > .cart-block > .line > img {
  margin-right: 20px;
}
.header .phone-and-cart > .cart-header-block > .cart-block > .line:last-of-type {
  border: none;
}
.header .phone-and-cart > .cart-header-block > .cart-block > button {
  background: #93cd22;
  color: #fff;
  border: none;
  font-family: "OpenSansLightRegular";
  border-radius: 0px;
}
/* 
	Завершение оформления для блока в шапке содержит логотип, слоган, телефон и корзину товаров 
*/
/* 
	Оформление для блока со строкой поиска и основным меню
*/
.row.menu-and-search {
  height: 60px;
  position: relative;
}
.row.menu-and-search .menu-main {
  padding-right: 0px;
}
.row.menu-and-search .menu-main > a {
  color: #fff;
  text-align: center;
  height: 100%;
  line-height: 60px;
  background: url("../images/sandwich-button.png") #22b5cd;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  text-decoration: none;
  padding-left: 40px;
  text-align: left;
}
.row.menu-and-search .menu-main > a:hover {
  background: url("../images/sandwich-button.png") #000 no-repeat 10px center;
}
.row.menu-and-search > .collapse,
.row.menu-and-search .collapse.in,
.row.menu-and-search .collapsing {
  position: absolute;
  background: #fff;
  max-width: 300px;
  z-index: 100;
  top: 60px;
  padding-left: 0px;
  margin-left: 15px;
}
.row.menu-and-search > .collapse > ul,
.row.menu-and-search .collapse.in > ul,
.row.menu-and-search .collapsing > ul {
  margin: 0px;
  padding: 0px;
  width: 300px;
  list-style-type: none;
}
.row.menu-and-search > .collapse > ul li .submenu,
.row.menu-and-search .collapse.in > ul li .submenu,
.row.menu-and-search .collapsing > ul li .submenu {
  display: none;
  position: absolute;
  top: 0px;
  left: 300px;
  width: 838px;
  background: #fff;
  padding: 7px 0px 7px 0px;
  height: 100%;
  box-shadow: 1px 1px 10px #000;
  font-family: "OpenSansRegular";
}
.row.menu-and-search > .collapse > ul li .submenu > ul,
.row.menu-and-search .collapse.in > ul li .submenu > ul,
.row.menu-and-search .collapsing > ul li .submenu > ul {
  list-style-type: none;
}
.row.menu-and-search > .collapse > ul li .submenu > ul > li,
.row.menu-and-search .collapse.in > ul li .submenu > ul > li,
.row.menu-and-search .collapsing > ul li .submenu > ul > li {
  font-family: "OpenSansBold";
  margin-bottom: 10px;
}
.row.menu-and-search > .collapse > ul li .submenu > ul > li > ul,
.row.menu-and-search .collapse.in > ul li .submenu > ul > li > ul,
.row.menu-and-search .collapsing > ul li .submenu > ul > li > ul {
  font-family: "OpenSansRegular";
  list-style-type: none;
}
.row.menu-and-search > .collapse > ul li a,
.row.menu-and-search .collapse.in > ul li a,
.row.menu-and-search .collapsing > ul li a {
  background: url("../images/arrow-to-bottom.png") #000 no-repeat 280px center;
  background: #000;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  display: block;
  padding: 7px 20px 7px 20px;
}
.row.menu-and-search > .collapse > ul li a:hover,
.row.menu-and-search .collapse.in > ul li a:hover,
.row.menu-and-search .collapsing > ul li a:hover {
  background: url("../images/arrow-to-bottom.png") #22b5cd no-repeat 280px center;
}
.row.menu-and-search > .collapse > ul li a:hover + .submenu,
.row.menu-and-search .collapse.in > ul li a:hover + .submenu,
.row.menu-and-search .collapsing > ul li a:hover + .submenu,
.row.menu-and-search > .collapse > ul li a + .submenu:hover,
.row.menu-and-search .collapse.in > ul li a + .submenu:hover,
.row.menu-and-search .collapsing > ul li a + .submenu:hover {
  display: block;
}
.row.menu-and-search > .search-field {
  height: 100%;
  padding-left: 0px;
}
.row.menu-and-search > .search-field input {
  border: 3px solid #22b5cd;
  display: block;
  height: 54px;
  outline: none;
  padding: 0px 10px 0px 40px;
  line-height: 54px;
  width: 100%;
  height: 100%;
  background: url("../images/icon-search.png") no-repeat 10px center;
  font-family: "OpenSansLightRegular";
}
/* 
	Завершение оформления для блока со строкой поиска и основным меню
*/
/* 
	Список брендов партнёров
*/
.container-fluid.brands {
  padding: 30px 45px;
}
.container-fluid.brands .row {
  border: 1px solid #d2d2d2;
}
.container-fluid.brands .row .brand-list {
  padding: 58px 108px 0px 108px;
  text-align: center;
}
.container-fluid.brands .row .brand-list h3 {
  position: absolute;
  left: 0px;
  top: -34px;
  text-align: center;
  width: 100%;
}
.container-fluid.brands .row .brand-list h3 span {
  background: #f4f4f4;
  padding: 0px 20px;
}
.container-fluid.brands .row .brand-list img {
  margin: 0px 80px 80px 0px;
}
/* 
	Список брендов партнёров
*/
/* 
	Подвал со списком основых пунктов меню и контактами
*/
.container-fluid.footer {
  background-color: #2e2e2e;
  color: #fff;
  padding: 50px 0px 0px 0px;
}
.container-fluid.footer .contacts img {
  margin-right: 10px;
}
.container-fluid.footer .subtitle {
  font-family: "OpenSansBold";
  display: block;
  font-size: 18px;
  margin-bottom: 27px;
}
.container-fluid.footer ul li {
  margin-bottom: 15px;
}
.container-fluid.footer ul li a,
.container-fluid.footer ul li span {
  color: #fff;
  font-family: "OpenSansLightRegular";
  text-decoration: none;
}
.container-fluid.footer ul li span {
  line-height: 15px;
  vertical-align: middle;
}
.row.you-seen > .col-lg-4:nth-of-type(3n) {
  margin-right: 0px;
}
.row.you-seen > .col-lg-4 {
  border: 1px solid #d2d2d2;
  padding: 30px 45px;
  margin-right: 20px;
  max-width: 376px;
}
.row.you-seen > .col-lg-4 > img {
  margin-right: 50px;
}
.row.you-seen > .col-lg-4 > a {
  color: #22b5cd;
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  font-family: "OpenSansLightRegular";
}
/* 
	Блок хлебные крошки
*/
.row.breadcrumbs {
  margin: 10px 0px 10px 0px;
}
.row.breadcrumbs div {
  padding-left: 0px;
}
.row.breadcrumbs div a:not(:first-child) {
  margin-left: 20px;
}
.row.breadcrumbs div a:last-child {
  background: none;
  padding-right: 0px;
}
.row.breadcrumbs div a {
  color: #b0b0b0;
  padding-right: 20px;
  background: url("../images/arrow-right-breadcrumb.png") no-repeat right center;
  font-family: "OpenSansLightRegular";
}
.row.breadcrumbs div ahover {
  text-decoration: underline;
}
.row.novinki h2 {
  color: #2e2e2e;
  font-size: 26px;
  line-height: 24px;
}
.row.novinki .one-product .additional_block {
  display: none;
}
.row.novinki .one-product .additional_block > .rate {
  padding: 0px 10px;
}
.row.novinki .one-product .additional_block > .rate > .num {
  line-height: 27px;
  display: block;
  width: 44px;
  padding-left: 8px;
  float: left;
  margin-right: 5px;
}
.row.novinki .one-product .additional_block > .rate > .est {
  float: right;
}
.row.novinki .one-product .additional_block > .icons {
  padding: 0px 10px;
  margin-bottom: 10px;
}
.row.novinki .one-product .additional_block > .icons > * {
  margin-right: 5px;
}
.row.novinki .one-product .additional_block >.icons img {
  padding: 10px;
  border: 1px solid #cbcbcb;
  vertical-align: top;
}
.row.novinki .one-product .additional_block > .icons > .tocart {
  background: url("../images/tocart.png") #22b5cd no-repeat 20px center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding: 10px 20px 10px 50px;
  width: 130px;
  margin-right: 0px;
}
.row.novinki .one-product {
  position: relative;
  border: 3px solid #f4f4f4;
}
.row.novinki .one-product:hover {
  border: 3px solid #00b8d2;
}
.row.novinki .one-product:hover .additional_block {
  display: block;
}
.row.novinki .one-product > .feature-label {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  z-index: 1000;
}
.row.novinki .one-product > .feature-label.hit {
  background-color: #f54d19;
}
.row.novinki .one-product > .feature-label.new {
  background-color: #93cd22;
}
.row.novinki .one-product .image {
  height: 300px;
  line-height: 300px;
  background: #fff;
  text-align: center;
}
.row.novinki .one-product .image img {
  display: inline;
  vertical-align: middle;
}
.row.novinki .one-product .description {
  padding: 23px 20px 50px 20px;
  text-align: center;
  background-color: #f8f8f8;
}
.row.novinki .one-product .description a {
  display: block;
  margin: 0px auto 20px auto;
  text-align: center;
  text-decoration: underline;
  color: #22b5cd;
  font-family: "OpenSansLightRegular";
}
.row.novinki .one-product .description > .price {
  color: #2e2e2e;
  font-size: 18px;
  font-family: "OpenSansBold";
  margin-right: 10px;
}
.row.novinki .one-product .description > .wasprice {
  color: #e4003a;
  font-size: 12px;
  text-decoration: line-through;
  vertical-align: top;
  font-family: "OpenSansLightRegular";
}
.row.section {
  background: #fff;
  padding: 15px;
  margin: 0px 0px 20px 0px;
}
.row.section > div.section-header-dark {
  color: #fff;
  background: #000;
  margin-right: -15px;
  margin-left: -15px;
}
.row.section > div.section-header > h2 {
  font-size: 18px;
  font-family: "OpenSansBold";
  border-bottom: 2px solid #d2d2d2;
  padding-bottom: 10px;
}
.row.section > div.section-header > h2 > a {
  font-size: 12px;
  font-family: "OpenSansRegular";
  text-decoration: underline;
  color: #b0b0b0;
}
@media screen and (max-width: 992px) {
  .row.menu-and-search > .menu-main {
    padding-right: 15px;
  }
  .row.menu-and-search > .search-field {
    padding-left: 15px;
  }
  .row.header {
    text-align: center;
  }
  .row.header > .logo {
    text-align: center;
  }
  .row.header > .phone-and-cart {
    text-align: center;
  }
}
@media (max-width: 1148px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
}
#navbar-collapse {
  position: relative;
  z-index: 1000;
  background: #2e2e2e;
  border: none;
  height: 49px;
}
@media screen and (max-width: 768px) {
  /* 
		----- Начало разметки для страницы "ОФОРМЛЕНИЕ ЗАКАЗА - СПАСИБО"
	*/
  .row.section.product-list {
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .formobile {
    display: inline-block !important;
    float: left;
  }
  .formobile a {
    padding: 12px !important;
    display: inline-block;
  }
  .formobile a img {
    margin-right: 5px;
  }
  .row.header > .logo {
    text-align: center;
  }
  .row.header > .logo > .slogan {
    display: none;
  }
  .header .phone-and-cart {
    text-align: center;
  }
  .header .phone-and-cart .phone {
    margin-right: 20px;
  }
  .header .phone-and-cart .cart-header-block > img {
    margin-right: 10px;
  }
  .row.you-seen {
    margin-left: 0px;
  }
  .row.you-seen > .col-lg-4 {
    margin-bottom: 20px;
  }
  .row.menu-and-search > .collapse,
  .row.menu-and-search .collapse.in,
  .row.menu-and-search .collapsing {
    width: 370px;
  }
  .container.content .row.pokupatel .row.one-line {
    height: initial;
  }
  .container.content .row.pokupatel .row.one-line input {
    width: 100% !important;
    display: block;
  }
}
