body {
  font-family: "OpenSansRegular";
  background-color: #f4f4f4;
  color: #2e2e2e;
}
.grey {
  color: #b8b8b8;
}
.light-grey {
  color: #b0b0b0;
}
.col-with-border {
  border-bottom: 1px solid #f4f4f4;
}
.without-bottom-margin {
  margin: 0px;
}
/* ----- Шрифты ----- */
.light-blue {
  background-color: #22b5cd;
}
.text-uppercase {
  text-transform: uppercase;
}
.badge {
  font-size: 11px;
  vertical-align: middle;
}
.navbar-collapse {
  padding: 0px;
}
.white-container {
  background: #fff;
  padding: 45px 0px;
}
.row.novinki h2 {
  color: #2e2e2e;
  font-size: 26px;
  line-height: 24px;
}
.row.novinki .one-product .additional_block {
  display: none;
}
.row.novinki .one-product .additional_block > .line {
  margin: 0px 10px;
  border-top: 1px solid #b0b0b0;
  height: 1px;
  padding-bottom: 10px;
  background: #f8f8f8;
}
.row.novinki .one-product .additional_block > .rate {
  padding: 0px 10px;
  font-size: 12px;
  line-height: 27px;
  margin-bottom: 11px;
  color: #2e2e2e;
  background: #f8f8f8;
  padding-bottom: 10px;
}
.row.novinki .one-product .additional_block > .rate > .num {
  position: relative;
  line-height: 27px;
  display: block;
  width: 44px;
  float: left;
  margin-right: 5px;
  text-align: center;
  padding-right: 2px;
}
.row.novinki .one-product .additional_block > .rate > .num > svg {
  position: absolute;
  left: 0px;
  top: 1px;
}
.row.novinki .one-product .additional_block > .rate > .num.svg-grey > svg > polyline {
  stroke: #b0b0b0;
}
.row.novinki .one-product .additional_block > .rate > .num.svg-green > svg > polyline {
  stroke: #93cd22;
}
.row.novinki .one-product .additional_block > .rate > .num.svg-red > svg > polyline {
  stroke: #f00;
}
.row.novinki .one-product .additional_block > .rate > .num.svg-skewed > svg > polyline.normal {
  display: none;
}
.row.novinki .one-product .additional_block > .rate > .num.svg-normal > svg > polyline.skewed {
  display: none;
}
.row.novinki .one-product .additional_block > .rate > .est {
  float: right;
  font-size: 12px;
}
.row.novinki .one-product .additional_block > .rate > a {
  color: #2e2e2e;
  text-decoration: underline;
}
.row.novinki .one-product .additional_block > .icons {
  padding: 10px 5px;
  margin-bottom: 10px;
  background: #e7e7e7;
}
.row.novinki .one-product .additional_block > .icons > * {
  margin-right: 5px;
}
.row.novinki .one-product .additional_block >.icons img {
  padding: 10px;
  border: 1px solid #cbcbcb;
  vertical-align: top;
}
.row.novinki .one-product .additional_block > .icons > .tocart {
  background: url("../images/tocart.png") #22b5cd no-repeat 20px center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding: 10px 20px 10px 50px;
  width: 130px;
  margin-right: 0px;
  font-size: 13px;
  margin-left: 7px;
}
.row.novinki .one-product {
  position: relative;
  border: 0px;
  outline: none;
  height: 550px;
  overflow: hidden;
  margin-bottom: 3px;
}
.row.novinki .one-product:hover {
  outline: 3px solid #22b5cd;
}
.row.novinki .one-product:hover .additional_block,
.row.novinki .one-product:hover a.left,
.row.novinki .one-product:hover a.right {
  display: block;
}
.row.novinki .one-product:hover .additional_block {
  position: relative;
}
.row.novinki .one-product a.left,
.row.novinki .one-product a.right {
  display: none;
  background: url("../images/arrow-slider-grey.svg") no-repeat 50% 50%;
}
.row.novinki .one-product a.left:hover,
.row.novinki .one-product a.right:hover {
  background: url("../images/arrow-slider-blue.svg") no-repeat 50% 50%;
}
.row.novinki .one-product a.left:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.row.novinki .one-product a.right {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.row.novinki .one-product a.right:hover {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.row.novinki .one-product > .feature-label {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  z-index: 1000;
}
.row.novinki .one-product > .feature-label.hit {
  background-color: #f54d19;
}
.row.novinki .one-product > .feature-label.new {
  background-color: #93cd22;
}
.row.novinki .one-product .image {
  height: 300px;
  line-height: 300px;
  background: #fff;
  text-align: center;
}
.row.novinki .one-product .image img {
  display: inline;
  vertical-align: middle;
}
.row.novinki .one-product .description {
  padding: 23px 20px 0px 20px;
  text-align: center;
  background-color: #f8f8f8;
  min-height: 130px;
}
.row.novinki .one-product .description a {
  display: block;
  margin: 0px auto 20px auto;
  text-align: center;
  text-decoration: underline;
  color: #22b5cd;
  font-family: "OpenSansLightRegular";
  font-size: 15px;
}
.row.novinki .one-product .description > .price {
  color: #2e2e2e;
  font-size: 18px;
  font-family: "OpenSansBold";
  margin-right: 10px;
}
.row.novinki .one-product .description > .wasprice {
  color: #e4003a;
  font-size: 12px;
  text-decoration: line-through;
  vertical-align: top;
  font-family: "OpenSansLightRegular";
}
.row.novinki.list .one-product.bought:hover {
  border: 3px solid #93cd22;
}
.row.novinki.list .one-product.bought > .add-to-cart > .tocart {
  background: url("../images/tocart.png") #93cd22 no-repeat 20px center;
}
.row.novinki.list .one-product {
  font-size: 0px;
  height: 136px;
  border: 3px solid #fff;
  margin-bottom: 0px;
}
.row.novinki.list .one-product:hover {
  border: 3px solid #22b5cd;
}
.row.novinki.list .one-product > .feature-label {
  width: 45px;
  height: 22px;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
}
.row.novinki.list .one-product > .image {
  width: 165px;
  height: 130px;
  line-height: 130px;
  display: inline-block;
}
.row.novinki.list .one-product > .description {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  height: 130px;
  font-size: 12px;
  width: 397px;
  padding-top: 14px;
  min-height: initial;
}
.row.novinki.list .one-product > .description > a {
  line-height: 26px;
  font-size: 15px;
  text-align: left;
}
.row.novinki.list .one-product > .description > .icons {
  text-align: left;
}
.row.novinki.list .one-product > .description > .icons > a {
  font-size: 12px;
  text-decoration: none;
  color: #2e2e2e;
  display: inline-block;
}
.row.novinki.list .one-product > .description > .icons > .icon-rateback {
  background: url("../images/rate-bakcground.svg");
  height: 23px;
  width: 38px;
  line-height: 23px;
  display: inline-block;
  text-align: left;
  padding-left: 7px;
  margin-right: 10px;
}
.row.novinki.list .one-product > .description > .icons > img {
  margin-left: 25px;
}
.row.novinki.list .one-product > .price {
  display: inline-block;
  background: #fff;
  height: 130px;
  vertical-align: top;
  padding-top: 35px;
  width: 109px;
}
.row.novinki.list .one-product > .price > .price {
  color: #2e2e2e;
  font-size: 18px;
  font-family: "OpenSansBold";
  margin-right: 10px;
}
.row.novinki.list .one-product > .price > .wasprice {
  color: #e4003a;
  font-size: 12px;
  text-decoration: line-through;
  vertical-align: top;
  font-family: "OpenSansLightRegular";
  display: block;
  text-align: center;
}
.row.novinki.list .one-product > .add-to-cart {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  width: 170px;
  height: 130px;
  font-size: 13px;
  text-align: center;
  padding-top: 30px;
}
.row.novinki.list .one-product > .add-to-cart > .tocart {
  background: url("../images/tocart.png") #22b5cd no-repeat 20px center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding: 10px 20px 10px 50px;
  width: 130px;
  margin-right: 0px;
  font-size: 13px;
}
.row.novinki.list .one-product > .add-to-cart > .est {
  display: block;
  margin: 0px auto;
  text-align: center;
  margin-top: 10px;
}
.row.novinki.list .one-product > .additional_block {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  height: 130px;
}
.row.section {
  background: #fff;
  padding: 15px;
  margin: 0px 0px 20px 0px;
}
.row.section > div.section-header-dark {
  color: #fff;
  background: #000;
  margin-right: -15px;
  margin-left: -15px;
}
.row.section > div.section-header > h2 {
  font-size: 18px;
  font-family: "OpenSansBold";
  border-bottom: 2px solid #d2d2d2;
  padding-bottom: 10px;
}
.row.section > div.section-header > h2 > a {
  font-size: 12px;
  font-family: "OpenSansRegular";
  text-decoration: underline;
  color: #b0b0b0;
}
.container.content {
  padding-bottom: 112px;
}
.container.content .page-header {
  border-bottom: 0px;
  margin: 10px 0px 20px;
  font-family: "OpenSansLightRegular";
  font-size: 26px;
}
.container.content .page-sub-header {
  border-bottom: 0px;
  margin: -20px 0px 20px;
  font-family: "OpenSansRegular";
  font-size: 18px;
}
.container.content .row.section.cart-list .row.one-line > div:first-child {
  text-align: left;
  font-size: 18px;
  line-height: 48px;
}
.container.content .row.section.cart-list .row.one-line > div {
  line-height: 48px;
}
.container.content .row.section.cart-list .row.one-line > div:last-child {
  text-align: right;
}
.container.content.catalog .filter {
  background: #fff;
  border: 2px solid #d2d2d2;
  padding: 20px;
}
.container.content.catalog .filter .collapse-block {
  border-bottom: 1px solid #ededed;
  padding: 22px 0px 22px;
  position: relative;
}
.container.content.catalog .filter a {
  color: #2e2e2e;
  text-decoration: none;
  font-size: 15px;
  font-family: "OpenSansLightRegular";
  font-weight: 400;
}
.container.content.catalog .filter a > svg {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transform-origin: 50% 30%;
      -ms-transform-origin: 50% 30%;
          transform-origin: 50% 30%;
}
.container.content.catalog .filter a:not(.collapsed) > svg {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  vertical-align: middle;
}
.container.content.catalog .filter > .collapse,
.container.content.catalog .filter .collapsing,
.container.content.catalog .filter .collapse.in {
  margin-top: 20px;
}
.container.content.catalog input[type='submit'] {
  color: #2e2e2e;
  border: 1px solid #22b5cd;
  font-family: "OpenSansLightRegular";
  background: #fff;
  text-align: center;
  display: block;
  margin: 0px auto;
  font-size: 13px;
  padding: 10px 50px;
  margin-top: 20px;
}
.container.content.catalog .slider-range {
  margin-bottom: 20px;
  border-radius: none;
  border: none;
  border-radius: 0px;
  background: #b0b0b0;
  height: 10px;
}
.container.content.catalog .slider-range > .ui-slider-handle {
  width: 10px;
  background-color: #f2f2f2;
  background-image: linear-gradient(to top, #d7d7d7 0%, #fff 100%);
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  box-shadow: 0 1px 0 #aeaeae;
  outline: none;
}
.container.content.catalog .slider-range > .ui-slider-range {
  background: #22b5cd;
}
.container.content.catalog .w50 {
  width: 48%;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}
.container.content.catalog .w50 > input[type='text'] {
  width: 100%;
  padding-left: 23px;
  outline: none;
}
.container.content.catalog .w50 > input[type='text']+ span {
  position: absolute;
  top: 3px;
  left: 5px;
}
.sort {
  margin-bottom: 20px;
}
.sort a {
  margin-left: 20px;
}
.sort a.active {
  font-family: "OpenSansBold";
  color: #000;
  text-decoration: none;
}
.sort .switcher {
  display: inline-block;
  float: right;
}
.sort .switcher a:hover,
.sort .switcher a {
  text-decoration: none;
}
.sort .switcher a.active > svg > path {
  fill: #2e2e2e;
}
.one-tovar .row.section.kartochka-tovara {
  padding: 40px 15px 15px 15px;
  margin: 0px;
}
.one-tovar .row.section.kartochka-tovara .how-much {
  color: #b0b3b7;
  font-size: 14px;
  display: inline-block;
  margin-right: 50px;
}
.one-tovar .row.section.kartochka-tovara .how-much span {
  color: #2e2e2e;
  font-size: 14px;
  margin-left: 20px;
  font-family: "OpenSansRegular";
}
.one-tovar .row.section.kartochka-tovara .how-much span:last-child {
  margin-left: 0px;
  font-family: "OpenSansLightRegular";
}
.one-tovar .row.section.kartochka-tovara .how-much .minus,
.one-tovar .row.section.kartochka-tovara .how-much .plus {
  padding: 10px;
  cursor: pointer;
}
.one-tovar .row.section.kartochka-tovara .how-much .count {
  padding: 0px;
}
.one-tovar .row.section.kartochka-tovara .how-much .small-itog {
  color: #b0b3b7;
}
.one-tovar .row.section.kartochka-tovara .how-much + div {
  display: inline-block;
  vertical-align: top;
}
.one-tovar .row.section.kartochka-tovara .how-much + div button {
  background: #22b5cd;
  min-width: 140px;
  text-align: center;
  height: 40px;
  color: #fff;
  border: none;
  font-family: "OpenSansLightRegular";
  font-size: 14px;
  border-radius: 0px;
}
.one-tovar .row.section.kartochka-tovara #main-image {
  width: 390px;
  height: 390px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.one-tovar .row.section.kartochka-tovara .image-list {
  width: 70px;
  display: inline-block;
}
.one-tovar .row.section.kartochka-tovara .image-list > div {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.one-tovar .row.section.kartochka-tovara .image-list > div.active {
  border: 2px solid #22b5cd;
}
.one-tovar .row.section.kartochka-tovara .row.variants > .line {
  border-bottom: 1px solid #b0b0b0;
}
.one-tovar .row.section.kartochka-tovara .row.variants > div:first-child {
  font-family: "OpenSansBold";
  color: #2e2e2e;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 40px;
}
.one-tovar .row.section.kartochka-tovara .row.variants > div {
  color: #2e2e2e;
  font-size: 15px;
  margin-bottom: 40px;
  line-height: 34px;
}
.one-tovar .row.section.kartochka-tovara .row.variants > div > select {
  display: block;
  border-radius: initial;
  border: none;
  outline: none;
  color: #2e2e2e;
  font-size: 13px;
  padding: 0px 10px;
}
.one-tovar .row.section.kartochka-tovara .row.variants > div > .price {
  font-size: 30px;
  font-family: "OpenSansRegular";
  font-weight: lighter;
}
.one-tovar .row.section.kartochka-tovara .row.variants > div > .price > span {
  font-family: "OpenSansBold";
}
.one-tovar .row.section.kartochka-tovara .additional_block > .rate {
  padding: 0px 10px;
  line-height: 40px;
  float: left;
}
.one-tovar .row.section.kartochka-tovara .additional_block > .rate > .num {
  background: url("../images/rateback.png") no-repeat left center;
  line-height: 40px;
  display: block;
  width: 44px;
  padding-left: 8px;
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
.one-tovar .row.section.kartochka-tovara .additional_block > .rate > .est {
  float: right;
}
.one-tovar .row.section.kartochka-tovara .additional_block > .icons {
  padding: 0px 10px;
  margin-bottom: 10px;
  float: right;
}
.one-tovar .row.section.kartochka-tovara .additional_block > .icons > div {
  margin-right: 5px;
  border: 1px solid #cbcbcb;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}
.one-tovar .row.section.kartochka-tovara .additional_block > .icons > div > svg {
  vertical-align: middle;
}
.one-tovar .row.section.kartochka-tovara .additional_block > .icons > div:hover {
  border: 1px solid #22b5cd;
}
.one-tovar .row.section.kartochka-tovara .additional_block > .icons > div:hover > svg > path {
  fill: #22b5cd;
}
.one-tovar .row.section.kartochka-tovara-features {
  background: #ededed;
  padding: 45px;
  margin-bottom: 0px;
}
.one-tovar .row.section.kartochka-tovara-features > div > img {
  display: inline-block;
  vertical-align: top;
  margin-top: -10px;
}
.one-tovar .row.section.kartochka-tovara-features > div > div {
  display: inline-block;
  margin-left: 20px;
  max-width: 258px;
}
.one-tovar .row.section.kartochka-tovara-features > div > div > span {
  font-family: "OpenSansBold";
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.one-tovar .row.section.kartochka-tovara-features > div > div > ul > li {
  margin-bottom: 10px;
}
.one-tovar .row.section > .tab-content .harakteristiki > .row {
  margin-bottom: 20px;
}
.one-tovar .row.section > .tab-content .harakteristiki > .row > .col-lg-8 > div {
  background: url("../images/dots-background.jpg") repeat-x bottom left;
}
.one-tovar .row.section > .tab-content .harakteristiki > .row > .col-lg-4 > span {
  vertical-align: bottom;
}
.one-tovar .row.section.buy-with {
  padding: 20px 50px;
}
.one-tovar .row.section.buy-with > .one-block {
  text-align: center;
  width: 165px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 100px;
}
.one-tovar .row.section.buy-with > .one-block > input[type='checkbox'] {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}
.one-tovar .row.section.buy-with > .one-block > input[type='checkbox'] + label {
  background: none;
  border: 1px solid #a9a9a9;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.one-tovar .row.section.buy-with > .one-block > input[type='checkbox']:checked + label {
  background: url("../images/checked-blue.png") no-repeat center center;
  border: 1px solid #a9a9a9;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.one-tovar .row.section.buy-with > .one-block > div {
  margin-bottom: 10px;
  line-height: 105px;
}
.one-tovar .row.section.buy-with > .one-block > a {
  display: block;
  color: #22b5cd;
  font-family: "OpenSansLightRegular";
  text-align: center;
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: 10px;
}
.one-tovar .row.section.buy-with > .one-block > span {
  font-family: "OpenSansRegular";
  font-size: 18px;
}
.one-tovar .row.section.buy-with > .one-block:before {
  content: "+";
  display: block;
  position: absolute;
  color: #2e2e2e;
  font-size: 36px;
  font-family: "OpenSansBold";
  left: -70px;
  top: 35px;
  margin-top: -10px;
}
.one-tovar .row.section.buy-with > .one-block > p {
  font-size: 15px;
  text-align: left;
}
.one-tovar .row.section.buy-with > .one-block > p span {
  display: block;
  font-size: 30px;
  font-family: "OpenSansBold";
}
.one-tovar .row.section.buy-with > .one-block > button {
  background: #22b5cd;
  border-radius: 0px;
  border: 0px;
  width: 140px;
  color: #fff;
  text-align: center;
  height: 40px;
  font-size: 14px;
}
.one-tovar .row.section.buy-with > .one-block > button > img {
  margin-right: 10px;
}
.one-tovar .row.section.buy-with > .one-block:first-child {
  margin-left: 0px;
}
.one-tovar .row.section.buy-with > .one-block:first-child:before {
  content: "";
}
.one-tovar .row.section.buy-with > .one-block:last-child {
  text-align: left;
}
.one-tovar .row.section.buy-with > .one-block:last-child:before {
  content: "=";
}
.one-tovar .row.tab-control {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.one-tovar .row.tab-control > div {
  text-align: left;
  padding-left: 40px;
}
.one-tovar .row.tab-control ul.nav.nav-tabs {
  border-bottom: 0px;
  display: inline-block;
}
.one-tovar .row.tab-control ul.nav.nav-tabs > li > a {
  border: none;
  border-radius: none;
  background: initial;
  border-bottom: 1px dashed #22b5cd;
  color: #22b5cd;
  padding: 1px;
  margin-right: 10px;
  font-size: 18px;
  font-family: "OpenSansLightRegular";
}
.one-tovar .row.tab-control ul.nav.nav-tabs > li.active > a {
  color: #2e2e2e;
  border: none;
}
.one-tovar .row.tab-control ul.nav.nav-tabs > li:not(.active) > a:hover {
  border-bottom: 1px solid #22b5cd;
}
.one-tovar .row.section.tabs {
  padding: 20px;
}
.one-tovar .review-summary button {
  background-color: #22b5cd;
  display: block;
  color: #fff;
  width: 266px;
  height: 55px;
  font-size: 18px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 0px;
  border: none;
}
.one-tovar .review-summary > span {
  color: #b0b3b7;
  font-size: 12px;
}
.one-tovar .review-summary .rate-line {
  line-height: 27px;
  height: 27px;
}
.one-tovar .review-summary .rate-line > * {
  display: inline-block;
  vertical-align: middle;
}
.one-tovar .review-summary .rate-line > .icon-rateback {
  text-align: center;
  padding-right: 4px;
}
.one-tovar .review-summary .rate-line span {
  margin-right: 20px;
  color: #2e2e2e;
}
.one-tovar #description-reviews > .row > div > .one-review .rate-line {
  line-height: 27px;
  height: 27px;
  margin-bottom: 20px;
}
.one-tovar #description-reviews > .row > div > .one-review .rate-line > * {
  display: inline-block;
  vertical-align: middle;
}
.one-tovar #description-reviews > .row > div > .one-review .rate-line > .icon-rateback {
  text-align: center;
  padding-right: 4px;
}
.one-tovar #description-reviews > .row > div > .one-review .rate-line span {
  margin-left: 20px;
  color: #b0b3b7;
}
.one-tovar #description-reviews > .row > div > .one-review span.name {
  font-size: 15px;
  font-family: "OpenSansBold";
  margin-bottom: 20px;
}
.one-tovar #description-reviews > .row > div > .one-review span.title {
  font-size: 13px;
  font-family: "OpenSansBold";
  margin-bottom: 20px;
}
.one-tovar #description-reviews > .row > div > .one-review span.text {
  font-size: 13px;
  font-family: "OpenSansLightRegular";
  margin-bottom: 20px;
}
.one-tovar #description-reviews > .row > div > .one-review span {
  display: block;
}
.container.content.cart .product-list {
  margin: 0px;
}
.container.content.cart .product-list input[type=checkbox] {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
  box-shadow: 0 0 5px #d3edf1;
}
.container.content.cart .row.section.quick-order-form > div {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.container.content.cart .row.section.quick-order-form > div input {
  border: 2px solid #d2d2d2;
  height: 58px;
  line-height: 58px;
  font-size: 14px;
  border-radius: 0px;
}
.container.content.cart .row.section.quick-order-form > div button {
  color: #2e2e2e;
  font-size: 18px;
  border: 2px solid #22b5cd;
  outline: none;
  display: block;
  text-align: center;
  border-radius: 0px;
  width: 100%;
  height: 58px;
  vertical-align: middle;
}
.container.content.cart .row.section.quick-order-form > div button:hover {
  background: #22b5cd;
  transition: all 0.33s;
  color: #fff;
}
.container.content.cart .row.section.quick-order-form > div p.summ-itog {
  color: #2e2e2e;
  font-size: 18px;
  text-align: right;
}
.container.content.cart .row.section.quick-order-form > div p.summ-itog span {
  color: #22b5cd;
}
.container.content.cart .row.section.quick-order-form > div button.order-submit {
  background-color: #22b5cd;
  display: inline-block;
  color: #fff;
  width: 266px;
}
.container.content.order-confirmation .row.section.pokupatel .row.one-line {
  height: 70px;
  margin-bottom: 20px;
}
.container.content.order-confirmation .row.section.pokupatel .row.one-line > div:first-child {
  color: #2e2e2e;
  font-size: 16px;
  height: 100%;
  line-height: 70px;
}
.container.content.order-confirmation .row.section.pokupatel .row.one-line > div:nth-of-type(3) {
  padding-left: 20px;
  color: #2e2e2e;
  line-height: 34px;
}
.container.content.order-confirmation .row.section.pokupatel .row.one-line > div {
  vertical-align: bottom;
}
.container.content.order-confirmation .row.section.pokupatel .row.one-line > div input {
  background-color: #fff;
  border: 1px solid #d2d2d2;
  width: 364px;
  outline: none;
  padding: 5px 40px 5px 20px;
  color: #2e2e2e;
}
.container.content.order-confirmation .row.section.pokupatel .row.one-line > div input.correct {
  border: 1px solid #93cd22;
  box-shadow: 0 0 5px #b6dd6b;
  background: url("../images/icon-correct.png") #ecf7d8 no-repeat 334px center;
}
.container.content.order-confirmation .row.section.pokupatel .row.one-line > div input.incorrect {
  background: url("../images/icon-incorrect.png") #fce4df no-repeat 334px center;
  border: 1px solid #e35b40;
  box-shadow: 0 0 5px #eaa79a;
}
.container.content.order-confirmation .row.section.pokupatel .row.one-line > div:nth-of-type(2) > label {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 5px;
  display: block;
}
.container.content.order-confirmation .row.dostavka input {
  margin-right: 20px;
}
.container.content.order-confirmation .row.dostavka #city-list {
  border: 1px solid #eee;
  position: absolute;
  top: 40px;
  background: #fff;
  left: 112px;
  padding: 10px;
  z-index: 100;
}
.container.content.order-confirmation .row.dostavka #city-list > ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.container.content.order-confirmation .row.dostavka #city-list > ul li {
  color: #22b5cd;
  font-size: 16px;
  margin-bottom: 10px;
}
.container.content.order-confirmation .row.dostavka .form-group {
  margin-bottom: 20px;
}
.container.content.order-confirmation .row.dostavka .form-group > .checkbox > label {
  font-family: "OpenSansBold";
  color: #2e2e2e;
  font-size: 18px;
}
.container.content.order-confirmation .row.dostavka .form-group > .checkbox > label > label {
  position: relative;
  box-shadow: 0 0 7px #d3edf1;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 15px;
  border-radius: 50%;
}
.container.content.order-confirmation .row.dostavka .form-group > .checkbox > label > input[type='radio'] {
  display: none;
}
.container.content.order-confirmation .row.dostavka .form-group > .checkbox > label > input[type='radio']:checked + label:after {
  display: inline-block;
  content: "●";
  text-align: left;
  position: absolute;
  left: 4px;
  bottom: -4px;
  font-size: 23px;
  color: #2e2e2e;
}
.container.content.order-confirmation .row.dostavka .form-group > .checkbox > span {
  font-family: "OpenSansRegular";
  color: #747474;
  font-size: 14px;
  margin-left: 53px;
  display: inline-block;
}
.container.content.order-confirmation .row.dostavka .adres h3 {
  font-size: 16px;
  font-family: "OpenSansBold";
  margin-top: 7px;
}
.container.content.order-confirmation .row.dostavka .adres .form-control {
  border-radius: 0px;
  border: 1px solid #b0b3b7;
}
.container.content.order-confirmation .row.dostavka .adres > .row > div:not(:last-child) {
  margin-bottom: 20px;
}
.container.content.order-confirmation .row.dostavka .opencitylist {
  font-size: 18px;
  color: #22b5cd;
  text-decoration: none;
  font-family: "OpenSansBold";
}
.container.content.order-confirmation .row.section.oplata {
  margin-bottom: 0px;
}
.container.content.order-confirmation .row.section.oplata .form-group label {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: "OpenSansBold";
}
.container.content.order-confirmation .row.section.oplata .form-group input {
  margin-right: 20px;
}
.container.content.order-confirmation .row.section.itog {
  margin-top: 0px;
}
.container.content.order-confirmation .row.section.itog > div {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container.content.order-confirmation .row.section.itog p.summ-itog,
.container.content.order-confirmation .row.section.itog p.dostavka-itog {
  color: #2e2e2e;
  font-size: 18px;
  font-family: "OpenSansBold";
  margin-bottom: 20px;
}
.container.content.order-confirmation .row.section.itog p.all-itog {
  font-size: 30px;
  font-family: "OpenSansBold";
  margin-bottom: 30px;
}
.container.content.order-confirmation .row.section.itog p.all-itog span {
  color: #22b5cd;
}
.container.content.order-confirmation .row.section.itog button {
  background: #22b5cd;
  width: 266px;
  height: 56px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.row.section.vash-zakaz {
  padding: 0px;
}
.row.section.vash-zakaz .section-header-dark {
  margin: 0px;
  color: #fefefe;
  font-size: 16px;
  font-family: "OpenSansLightRegular";
  line-height: 51px;
  background: #2e2e2e;
}
.row.section.vash-zakaz .section-header-dark span {
  font-family: "OpenSansBold";
}
.row.section.vash-zakaz > div:nth-of-type(2) {
  padding: 55px 15px 40px 30px;
  font-size: 16px;
}
.row.section.vash-zakaz > div:nth-of-type(2) > ul:last-child {
  margin-bottom: 0px;
}
.row.section.vash-zakaz > div:nth-of-type(2) > ul {
  margin-bottom: 40px;
}
.row.section.vash-zakaz > div:nth-of-type(2) > ul > li {
  font-family: "OpenSansLightRegular";
}
.row.section.vash-zakaz > div:nth-of-type(2) > ul > li > span {
  font-family: "OpenSansRegular";
}
.row.section.product-list {
  padding: 0px;
}
.row.section.product-list .section-header-dark {
  margin: 0px;
  color: #fefefe;
  font-size: 16px;
  font-family: "OpenSansLightRegular";
  line-height: 51px;
  background: #2e2e2e;
}
.row.section.product-list .section-header-dark span {
  font-family: "OpenSansBold";
}
.row.section.product-list > div > .row.product-line {
  height: 176px;
}
.row.section.product-list > div > .row.product-line > div:first-child {
  text-align: center;
  line-height: 176px;
}
.row.section.product-list > div > .row.product-line > div:first-child > label {
  position: absolute;
  left: 10px;
}
.row.section.product-list > div > .row.product-line > div:last-child > svg {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -6px;
}
.row.section.product-list > div > .row.product-line > div:nth-of-type(2) {
  text-align: left;
  color: #b0b3b7;
  line-height: 150px;
}
.row.section.product-list > div > .row.product-line > div:nth-of-type(2) > div {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  font-size: 15px;
}
.row.section.product-list > div > .row.product-line > div:nth-of-type(2) > div > a {
  display: block;
  text-align: left;
  color: #22b5cd;
  text-decoration: underline;
}
.row.section.product-list > div > .row.product-line > div {
  line-height: 150px;
  color: #2e2e2e;
  font-size: 18px;
}
.row.section.product-list > div > .row.product-line div.amount > input {
  border: 0px;
  outline: none;
  text-align: center;
  width: 70px;
}
.itogi {
  border-top: 1px solid #f4f4f4;
}
.itogi .row {
  margin: 20px 100px 20px;
}
.itogi .row p {
  color: #2e2e2e;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: right;
}
.itogi > .row p.all-itog {
  font-size: 30px;
}
.itogi > .row p.all-itog span {
  color: #22b5cd;
}
/* 
------ Оформление блоков которые присутствуют на всех страницах.
------ Блоки: "Навигационная панель", "Логотип и корзина", "Поиск и основное меню каталога", "Список брендов", 
"Подвал", "Вы просмотрели товары", "Хлебные крошки"
*/
/* 
	Навигационная панель в шапке.
*/
.navbar {
  background: #2e2e2e;
  border-radius: 0px;
  text-transform: uppercase;
  border: none;
}
.navbar .navbar-nav.left-menu>.active>a {
  background: none;
  color: #22b5cd;
}
.navbar .navbar-nav.left-menu > li:first-child a {
  padding-left: 0px;
}
.navbar .navbar-nav > li {
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  line-height: 49px;
}
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li a:visited {
  color: #fff;
  position: relative;
  padding-left: 30px;
  vertical-align: middle;
  font-family: "OpenSansLightRegular";
}
.navbar .navbar-nav > li > a > .badge,
.navbar .navbar-nav > li a:visited > .badge {
  margin-left: 10px;
  padding: 6px 10px;
  display: inline-block;
  vertical-align: top;
}
.navbar .navbar-nav > li > a:hover {
  background-color: #2e2e2e;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li a:active {
  color: #22b5cd;
}
.navbar .navbar-nav > li > a:after {
  content: " | ";
  position: absolute;
  top: 14px;
  right: -7px;
  color: #4f4f4f;
}
.navbar .navbar-nav > li:last-child > a:after {
  display: none;
}
.navbar .navbar-nav > li.active a {
  background: initial;
  color: #22b5cd;
}
/* 
	Завершение блока с оформлением для навигационной панели.
*/
/*
------ Блок вложенный в navbar, содержит элементы - вход, сравнение товаров, товары в избранном.
*/
.navbar-right {
  font-size: 13px;
  text-transform: initial;
  margin-right: 0px;
  font-family: "OpenSansLightRegular";
}
.navbar-right a:after {
  content: "";
  display: none;
}
.navbar-right .favicon a {
  background: url("../images/icon-heart.png");
  background-position: left center;
  background-repeat: no-repeat;
}
.navbar-right .compare a {
  background: url("../images/icon-compare.png");
  background-position: left center;
  background-repeat: no-repeat;
}
.navbar-right button.login {
  width: 97px;
  height: 35px;
  border: 1px solid #22b5cd;
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
  line-height: 32px;
  padding-left: 10px !important;
  background: url("../images/icon-login.png") no-repeat 10px center;
  color: #fff;
  outline: none;
}
.navbar-right button.login:hover {
  transition: all 0.33s;
  background: url("../images/icon-login.png") no-repeat 10px center #22b5cd;
}
.navbar-right .favicon img,
.navbar-right .compare img,
.navbar-right .login img {
  margin-right: 10px;
}
.header {
  margin-bottom: 40px;
}
.header > .logo {
  line-height: 78px;
  color: #b8b8b8;
  font-family: "OpenSansLightRegular";
}
.header > .logo > a.slogan {
  display: inline-block;
  margin-left: 30px;
  color: #b0b0b0;
  text-decoration: none;
}
.header .phone-and-cart {
  text-align: right;
}
.header .phone-and-cart > .phone {
  display: inline-block;
  color: #2e2e2e;
  font-size: 18px;
  font-family: "OpenSansBold";
  height: 78px;
  text-align: center;
  margin-right: 40px;
  line-height: 20px;
  padding-top: 25px;
}
.header .phone-and-cart > .phone > a {
  color: #22b5cd;
  font-size: 13px;
  font-family: "OpenSansLightRegular";
  border-bottom: 1px dashed #22b5cd;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.header .phone-and-cart > .phone > ahover {
  border-bottom: 1px solid #22b5cd;
}
.header .phone-and-cart > .cart-header-block {
  display: inline-block;
  position: relative;
  padding-top: 19px;
  text-align: left;
}
.header .phone-and-cart > .cart-header-block > img {
  margin-right: 20px;
  margin-top: 6px;
}
.header .phone-and-cart > .cart-header-block > .cart-header {
  color: #2e2e2e;
  font-size: 16px;
  font-family: "OpenSansBold";
}
.header .phone-and-cart > .cart-header-block > .badge {
  position: absolute;
  left: 30px;
  top: 20px;
}
.header .phone-and-cart > .cart-header-block > .summ {
  color: #959595;
  font-family: "OpenSansLightRegular";
}
.header .phone-and-cart > .cart-header-block > .summ > span {
  color: #555;
  font-family: "OpenSansRegular";
}
.header .phone-and-cart > .cart-header-block > a > img {
  margin-left: 10px;
}
.header .phone-and-cart > .cart-header-block > .cart-block {
  position: absolute;
  background: #fff;
  z-index: 2000;
  padding: 20px;
  box-shadow: 1px 1px 4px #b0b0b0;
  width: 300px;
  right: 0px;
  top: 52px;
  text-align: center;
}
.header .phone-and-cart > .cart-header-block > .cart-block > .line {
  display: block;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 0px;
  text-align: left;
}
.header .phone-and-cart > .cart-header-block > .cart-block > .line > span {
  font-family: "OpenSansBold";
}
.header .phone-and-cart > .cart-header-block > .cart-block > .line > img {
  margin-right: 20px;
  height: 40px;
}
.header .phone-and-cart > .cart-header-block > .cart-block > .line:last-of-type {
  margin-bottom: 20px;
}
.header .phone-and-cart > .cart-header-block > .cart-block > button {
  background: #93cd22;
  color: #fff;
  border: none;
  font-family: "OpenSansLightRegular";
  border-radius: 0px;
}
/* 
	Завершение оформления для блока в шапке содержит логотип, слоган, телефон и корзину товаров 
*/
/* 
	Оформление для блока со строкой поиска и основным меню
*/
.row.menu-and-search {
  height: 60px;
  position: relative;
}
.row.menu-and-search .menu-main {
  padding-right: 0px;
}
.row.menu-and-search .menu-main > a {
  color: #fff;
  text-align: center;
  height: 100%;
  line-height: 60px;
  background: url("../images/sandwich-button.png") #22b5cd;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  text-decoration: none;
  padding-left: 40px;
  text-align: left;
}
.row.menu-and-search .menu-main > a:hover {
  background: url("../images/sandwich-button.png") #000;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.row.menu-and-search > .collapse,
.row.menu-and-search .collapse.in,
.row.menu-and-search .collapsing {
  position: absolute;
  background: #fff;
  max-width: 300px;
  z-index: 1200;
  top: 60px;
  padding-left: 0px;
  margin-left: 15px;
  padding-right: 0px;
}
.row.menu-and-search > .collapse > ul,
.row.menu-and-search .collapse.in > ul,
.row.menu-and-search .collapsing > ul {
  margin: 0px;
  padding: 0px;
  width: 300px;
  list-style-type: none;
}
.row.menu-and-search > .collapse > ul li .submenu,
.row.menu-and-search .collapse.in > ul li .submenu,
.row.menu-and-search .collapsing > ul li .submenu {
  display: none;
  position: absolute;
  top: 0px;
  left: 300px;
  width: 838px;
  background: #fff;
  padding: 7px 0px 7px 0px;
  height: 100%;
  box-shadow: 1px 1px 10px #000;
  font-family: "OpenSansRegular";
}
.row.menu-and-search > .collapse > ul li .submenu > ul,
.row.menu-and-search .collapse.in > ul li .submenu > ul,
.row.menu-and-search .collapsing > ul li .submenu > ul {
  list-style-type: none;
  display: inline-block;
}
.row.menu-and-search > .collapse > ul li .submenu > ul > li,
.row.menu-and-search .collapse.in > ul li .submenu > ul > li,
.row.menu-and-search .collapsing > ul li .submenu > ul > li {
  font-family: "OpenSansBold";
  margin-bottom: 10px;
}
.row.menu-and-search > .collapse > ul li .submenu > ul > li > ul,
.row.menu-and-search .collapse.in > ul li .submenu > ul > li > ul,
.row.menu-and-search .collapsing > ul li .submenu > ul > li > ul {
  font-family: "OpenSansRegular";
  list-style-type: none;
  padding-left: 0px;
}
.row.menu-and-search > .collapse > ul li .submenu a,
.row.menu-and-search .collapse.in > ul li .submenu a,
.row.menu-and-search .collapsing > ul li .submenu a {
  background: #fff;
  padding: initial;
  color: #2e2e2e;
}
.row.menu-and-search > .collapse > ul li .submenu a:hover,
.row.menu-and-search .collapse.in > ul li .submenu a:hover,
.row.menu-and-search .collapsing > ul li .submenu a:hover {
  background: initial;
}
.row.menu-and-search > .collapse > ul > li a,
.row.menu-and-search .collapse.in > ul > li a,
.row.menu-and-search .collapsing > ul > li a {
  background: url("../images/menu-arrow.svg") #000 no-repeat 280px center;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  display: block;
  padding: 7px 20px 7px 20px;
}
.row.menu-and-search > .collapse > ul li a:hover,
.row.menu-and-search .collapse.in > ul li a:hover,
.row.menu-and-search .collapsing > ul li a:hover {
  background: url("../images/menu-arrow.svg") #22b5cd no-repeat 280px center;
}
.row.menu-and-search > .collapse > ul li a:hover + .submenu,
.row.menu-and-search .collapse.in > ul li a:hover + .submenu,
.row.menu-and-search .collapsing > ul li a:hover + .submenu,
.row.menu-and-search > .collapse > ul li a + .submenu:hover,
.row.menu-and-search .collapse.in > ul li a + .submenu:hover,
.row.menu-and-search .collapsing > ul li a + .submenu:hover {
  display: table-cell;
}
.row.menu-and-search > .search-field {
  height: 100%;
  padding-left: 0px;
}
.row.menu-and-search > .search-field input {
  border: 3px solid #22b5cd;
  display: block;
  height: 54px;
  outline: none;
  padding: 0px 10px 0px 40px;
  line-height: 54px;
  width: 100%;
  height: 100%;
  background: url("../images/icon-search.png") #fff no-repeat 10px center;
  font-family: "OpenSansLightRegular";
}
/* 
	Завершение оформления для блока со строкой поиска и основным меню
*/
/* 
	Список брендов партнёров
*/
.container-fluid.brands {
  padding: 30px 45px;
}
.container-fluid.brands .row {
  border: 1px solid #d2d2d2;
}
.container-fluid.brands .row .brand-list {
  padding: 58px 108px 0px 108px;
  text-align: center;
}
.container-fluid.brands .row .brand-list h3 {
  position: absolute;
  left: 0px;
  top: -34px;
  text-align: center;
  width: 100%;
}
.container-fluid.brands .row .brand-list h3 span {
  background: #f4f4f4;
  padding: 0px 20px;
}
.container-fluid.brands .row .brand-list img {
  margin: 0px 80px 80px 0px;
}
/* 
	Список брендов партнёров
*/
/* 
	Подвал со списком основых пунктов меню и контактами
*/
.container-fluid.footer {
  background-color: #2e2e2e;
  color: #fff;
  padding: 50px 0px 0px 0px;
}
.container-fluid.footer .contacts img {
  margin-right: 10px;
}
.container-fluid.footer .subtitle {
  font-family: "OpenSansBold";
  display: block;
  font-size: 18px;
  margin-bottom: 27px;
}
.container-fluid.footer ul li {
  margin-bottom: 15px;
}
.container-fluid.footer ul li a,
.container-fluid.footer ul li span {
  color: #fff;
  font-family: "OpenSansLightRegular";
  text-decoration: none;
}
.container-fluid.footer ul li span {
  line-height: 15px;
  vertical-align: middle;
}
.row.you-seen > .col-lg-4:nth-of-type(3n) {
  margin-right: 0px;
}
.row.you-seen > .col-lg-4 {
  border: 1px solid #d2d2d2;
  padding: 30px 45px;
  margin-right: 20px;
  max-width: 376px;
}
.row.you-seen > .col-lg-4 > img {
  margin-right: 50px;
}
.row.you-seen > .col-lg-4 > a {
  color: #22b5cd;
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  font-family: "OpenSansLightRegular";
}
/* 
	Блок хлебные крошки
*/
.row.breadcrumbs {
  margin: 10px 0px 10px 0px;
}
.row.breadcrumbs div {
  padding-left: 0px;
}
.row.breadcrumbs div a:not(:first-child) {
  margin-left: 20px;
}
.row.breadcrumbs div a:last-child {
  background: none;
  padding-right: 0px;
}
.row.breadcrumbs div a {
  color: #b0b0b0;
  padding-right: 20px;
  background: url("../images/arrow-right-breadcrumb.png") no-repeat right center;
  font-family: "OpenSansLightRegular";
}
.row.breadcrumbs div ahover {
  text-decoration: underline;
}
.row.paginate {
  text-align: center;
}
.row.paginate li {
  margin-right: 5px;
  display: inline-block;
}
.row.paginate li.active a {
  pointer-events: none;
  background: #93cd22;
  border: none;
  color: #fff;
}
.row.paginate li a {
  background: none;
  border: 1px solid #b0b0b0;
  color: #000;
  width: 38px;
  height: 34px;
}
.row.paginate li a:hover:not(.active) {
  border: 1px solid #000;
}
.row.paginate li a:last-child {
  border-radius: 0px;
}
.row.section.coupon {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
  padding: 45px 0px;
  background: #eeec51;
}
.row.section.coupon span {
  color: #2e2e2e;
  font-size: 26px;
  margin-right: 20px;
}
.row.section.coupon input {
  width: 223px;
  height: 40px;
  border: 1px solid #d2d2d2;
  margin-right: 20px;
  font-size: 14px;
  font-family: "OpenSansBold";
  padding-left: 10px;
  text-transform: uppercase;
}
.row.section.coupon button {
  background: #22b5cd;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-family: "OpenSansRegular";
}
input.styled-checkbox[type='checkbox'] {
  margin-right: 10px;
  width: 0px;
  height: 0px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
input.styled-checkbox[type='checkbox']+ label {
  border: 1px solid #a9a9a9;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -7px;
  margin-bottom: 0px;
}
input.styled-checkbox[type='checkbox']+ label+ label {
  font-family: "OpenSansLightRegular";
  margin-left: 25px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.styled-checkbox[type='checkbox']:checked + label {
  background: url("../images/blue-checked.svg") no-repeat center center;
}
@media screen and (max-width: 992px) {
  .row.menu-and-search > .menu-main {
    padding-right: 15px;
  }
  .row.menu-and-search > .search-field {
    padding-left: 15px;
  }
  .row.header {
    text-align: center;
  }
  .row.header > .logo {
    text-align: center;
  }
  .row.header > .phone-and-cart {
    text-align: center;
  }
}
@media (max-width: 1148px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
}
#navbar-collapse {
  position: relative;
  z-index: 1000;
  background: #2e2e2e;
  border: none;
}
@media screen and (max-width: 768px) {
  /* 
		----- Начало разметки для страницы "ОФОРМЛЕНИЕ ЗАКАЗА - СПАСИБО"
	*/
  .row.section.product-list {
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .formobile {
    display: inline-block !important;
    float: left;
  }
  .formobile a {
    padding: 12px !important;
    display: inline-block;
  }
  .formobile a img {
    margin-right: 5px;
  }
  .row.header > .logo {
    text-align: center;
  }
  .row.header > .logo > .slogan {
    display: none;
  }
  .header .phone-and-cart {
    text-align: center;
  }
  .header .phone-and-cart .phone {
    margin-right: 20px;
  }
  .header .phone-and-cart .cart-header-block > img {
    margin-right: 10px;
  }
  .row.you-seen {
    margin-left: 0px;
  }
  .row.you-seen > .col-lg-4 {
    margin-bottom: 20px;
  }
  .row.menu-and-search > .collapse,
  .row.menu-and-search .collapse.in,
  .row.menu-and-search .collapsing {
    width: 370px;
  }
  .container.content .row.pokupatel .row.one-line {
    height: initial;
  }
  .container.content .row.pokupatel .row.one-line input {
    width: 100% !important;
    display: block;
  }
}
