.additional_block
  .rate 
    span.num.icon-rateback 4.5
    span 7 отзывов
    span.est Есть в наличии
  br
  .icons
    img(src='assets/images/icon-heart.png')
    img(src='assets/images/icon-compare.png')
    span.tocart В корзину