.container-fluid.brands
	.container
		.row
			.col-lg-12.brand-list
				h3 
					span Товары таких брендов
				img(src='assets/images/apple-brand.png')
				img(src='assets/images/philips-brand.png')
				img(src='assets/images/braun-brand.png')
				img(src='assets/images/lg-brand.png')
				img(src='assets/images/samsung-brand.png')
				img(src='assets/images/sharp-brand.png')
				img(src='assets/images/panasonic-brand.png')
				img(src='assets/images/toshiba-brand.png')