.container-fluid.footer
	.container
		.row
			.col-md-2.col-sm-2
				p © YupeStore 2015
				span.light-grey Все права защищены.
			.col-md-2.col-sm-2
				ul.list-unstyled
					li 
						a(href='') О компании
					li 
						a(href='') Доставка
					li 
						a(href='') Оплата
					li 
						a(href='') Новости
					li 
						a(href='') Бренды
					li 
						a(href='') Контакты
			.col-md-2.col-sm-2
				ul.list-unstyled
					li 
						a(href='') Телефония, МР3-плееры, GPS
					li 
						a(href='') Домашнее видео
					li 
						a(href='') Детские товары
					li 
						a(href='') Активный отдых и туризм
					li 
						a(href='') Музыкальные инструменты
			.col-md-3.col-sm-3.contacts
				span.subtitle Контакты
				ul.list-unstyled
					li 
						img(src='./assets/images/footer-phone-icon.png')
						span (123) 456-78-90, 0 (123) 456-78-90
					li
						img(src='./assets/images/footer-email-icon.png')
						span E-mail: partner@YupeStore.net
					li
						img(src='./assets/images/footer-skype-icon.png')
						span Skype: YupeStore
			.col-md-2.col-sm-2
				span.subtitle Работаем
				ul.list-unstyled 
					li Пн–Пт 09:00–20:00
					li Сб 09:00–17:00
					li Вс выходной  

.modal.fade(id="callme", tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title(id="myModalLabel") Modal title
			.modal-body
				| ...
			.modal-footer
				button(type="button" class="btn btn-default" data-dismiss="modal") Close
				button(type="button" class="btn btn-primary") Save changes