.row
  .col-md-12
    .carousel.slide(data-ride="carousel", id='carousel-main-page')
      ol.carousel-indicators
        li(data-slide-to="0" class="active", data-target='#carousel-main-page') 
        li(data-slide-to="1", data-target='#carousel-main-page') 
      .carousel-inner(role='listbox')
        .item.active
          img(src='assets/images/banner.jpg')
        .item
          img(src='assets/images/banner.jpg')